# JSON Testing

In [10]:
import json

with open('2.json' , 'r') as file:
    data = json.load(file)

print(data)
print()
print(data.keys())
print()
print(data.values())
print()
print(data.items())
print()
print(data.get('first'))

{'first': "What's the first number?", 'second': "What's the second number?", 'invalid_no': "Hmmm... that doesn't look like a valid number", 'operation': 'What operation would you like to perform?'}

dict_keys(['first', 'second', 'invalid_no', 'operation'])

dict_values(["What's the first number?", "What's the second number?", "Hmmm... that doesn't look like a valid number", 'What operation would you like to perform?'])

dict_items([('first', "What's the first number?"), ('second', "What's the second number?"), ('invalid_no', "Hmmm... that doesn't look like a valid number"), ('operation', 'What operation would you like to perform?')])

What's the first number?

# Truthy and Falsy sandbox

In [13]:
x = -1
if x:
    print('Truthy')

x = 0
if not x:
    print('Fasly')

Truthy
Fasly

In [20]:
fruits = [1,2,3, 'banana', 'steven']
x = (fruits.index('steven') if ('steven' in fruits) else None)

if x:
    print("Steven is a person, dangit")
else:
    print("Sally forth")

Steven is a person, dangit

# Lazy sequences

In [23]:
x = range(0,10,1)
print(x)
x = range(0,10,2)
print(x)
print(list(x))

range(0, 10)
range(0, 10, 2)
[0, 2, 4, 6, 8]

# Broken method chain?

In [26]:
'stRIng'.capitalize().casefold()
result = 'this is a string'.replace(' ', '-').join().title()

TypeError: str.join() takes exactly one argument (0 given)

In [27]:
result = 'this is a string'.split().replace(' ', '_').join('-')

AttributeError: 'list' object has no attribute 'replace'

# Empty lists?

In [32]:
x = []
y = [1 , 2, 3]
# print(x[0])   # Throws IndexError
def first(lst):
    return lst[0] if lst else None

print(first(x))
print(first(y))

None
1

In [44]:
# Adding some more data validation

def first(lst):
    if lst and type(lst)==list:
        return lst[0]

x = [1,2,3,4]
print(first(x))
x = []
print(first(x))
x = 5
print(first(x))

1
None
None

# Flatening a nested list

In [38]:
x = [[1, 2, 3] , ['x', 'y', 'z'], ['steven', 'billybob']]

print(sum(x, [])) # This works

# print(sum(x)) # This doesn't work

[1, 2, 3, 'x', 'y', 'z', 'steven', 'billybob']

In [ ]:
match (<var name>, <var name 2>):
    case (<value>, <var 2 value>):
        # logic
    case <value2>:
        # logic
    case _: # all other cases
        #

# Check if a variable is a list or tuple

In [61]:
x = [1, 2, 3, 4,]
x = tuple(range(0,40,3))
# x = {1,2,3,4}

if isinstance(x, (list, tuple)):
    print(x[-1])
    print(x[: : -1])
    print(x[0:-1:-1])
else:
    print("Oh my")

39
(39, 36, 33, 30, 27, 24, 21, 18, 15, 12, 9, 6, 3, 0)
()

# Reversing a string

In [62]:
s = 'hello'
print(s[::-1])

olleh

# Remove elements from dictionary

In [84]:
import json

with open('2.json', 'r') as file:
    data = json.load(file)

def print_dict(mydict):
    for i in mydict.items():
        print(i)
    print()

print_dict(data)

data.pop('first')
print_dict(data)

del data['second']
print_dict(data)

del data     # deletes the object from the namespace
print(data)  # raises NameError

('first', "What's the first number?")
('second', "What's the second number?")
('invalid_no', "Hmmm... that doesn't look like a valid number")
('operation', 'What operation would you like to perform?\n 1) Add 2) Subtract 3) Multiply 4) Divide')
('div_by_zero', 'Dividing by zero!?!? How dare you! Try again.')

('second', "What's the second number?")
('invalid_no', "Hmmm... that doesn't look like a valid number")
('operation', 'What operation would you like to perform?\n 1) Add 2) Subtract 3) Multiply 4) Divide')
('div_by_zero', 'Dividing by zero!?!? How dare you! Try again.')

('invalid_no', "Hmmm... that doesn't look like a valid number")
('operation', 'What operation would you like to perform?\n 1) Add 2) Subtract 3) Multiply 4) Divide')
('div_by_zero', 'Dividing by zero!?!? How dare you! Try again.')

NameError: name 'data' is not defined

# Access nested JSON

In [87]:
import json

with open('3.json', 'r') as file:
    MSG = json.load(file)   # MSG = short for MESSAGES

print(MSG['first']['en'])
print(MSG['first']['es'])

What's the first number?
Cual es el nombre principa?