# Practice Problems: Easy 1
https://launchschool.com/lessons/106644d9/assignments/73bff7e2

## Q1

In [27]:
numbers = [1, 2, 3, 4, 5]     # [5, 4, 3, 2, 1]
print(list(reversed(numbers)))
print(numbers[::-1])

[5, 4, 3, 2, 1]
[5, 4, 3, 2, 1]

## Q2

In [29]:
numbers = [1, 2, 3, 4, 5, 15, 16, 17, 95, 96, 99]

number1 = 8  # False (not in numbers)
number2 = 95 # True (in numbers)

print(number1 in numbers)
print(number2 in numbers)

False
True

## Q3

In [33]:
# before hint
print((10 <= 42) and (42 <= 100))
print((10 <= 100) and (100 <= 100))
print((10 <= 101) and (101 <= 100))

# after hint to use range()
for number in [42, 100, 101]:
    print(f"Is {number} between 10 and 100, inclusive? {number in range(10, 101)}")

print(list(range(10,101)))

True
True
False
Is 42 between 10 and 100, inclusive? True
Is 100 between 10 and 100, inclusive? True
Is 101 between 10 and 100, inclusive? False
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

## Q4

In [35]:
x = [1,2,3,4,5]
x.pop(2)
print(x)

# OR, using the 'del' keyword

x = [1,2,3,4,5]
del x[2]
print(x)

[1, 2, 4, 5]
[1, 2, 4, 5]

## Q5

In [41]:
numbers = [1, 2, 3, 4]
table = {'field1': 1, 'field2': 2, 'field3': 3, 'field4': 4}

print(type(numbers) is list)
print(type(table) is list)

# OR

print(isinstance(numbers, list))
print(isinstance(table, list))

True
False
True
False

## Q6

In [45]:
title = "Flintstone Family Members"
print(title.center(40))
print(title.ljust(40))
print(title.rjust(40))

       Flintstone Family Members
Flintstone Family Members
               Flintstone Family Members

## Q7

In [51]:
statement1 = "The Flintstones Rock!"
statement2 = "Easy come, easy go."

print(''.join([statement1, statement2]).count('t'))
print(f'{statement1}{statement2}'.count('t'))
print((statement1 + statement2).count('t'))
print(str([statement1, statement2]).count('t'))

2
2
2
2

## Q8

In [55]:
ages = {'Herman': 32, 'Lily': 30, 'Grandpa': 402, 'Eddie': 10}

for name in ['Spot', 'Herman', 32]:
    print(name in ages.keys())
    print(name in ages)
    print("*")

False
False
*
True
True
*
False
False
*

## Q9
I had a lot of trouble remembering the correct method here.  My failed attempts included using ages.extend() and ages += additional_ages.

I've had trouble with this in the past, need to practice this.

In [63]:
# Question prompt: "Add entries for Marilyn and Spot to the 'ages' dictionary:"

ages = {'Herman': 32, 'Lily': 30, 'Grandpa': 5843, 'Eddie': 10}
additional_ages = {'Marilyn': 22, 'Spot': 237}

for key, value in additional_ages.items():
    ages[key] = value

print(ages)

# OOPS, dict.update() would have been a simpler method
even_more_ages = {'Radical' : 123, 'Tubular' : 987}
ages.update(even_more_ages)

print(ages)

{'Herman': 32, 'Lily': 30, 'Grandpa': 5843, 'Eddie': 10, 'Marilyn': 22, 'Spot': 237}
{'Herman': 32, 'Lily': 30, 'Grandpa': 5843, 'Eddie': 10, 'Marilyn': 22, 'Spot': 237, 'Radical': 123, 'Tubular': 987}